body{
    /* background-color: #002342; */
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}   
.v-background-img{
    background-attachment: fixed;
    /* background-color: rgb(0, 35, 66); */
    /* background: linear-gradient(150deg,#002342,#0bc9e3 132.49%); */
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1080' height='560' preserveAspectRatio='none' viewBox='0 0 1080 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1078%26quot%3b)' fill='none'%3e%3crect width='1080' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M84.08321154857171 16.845258161925358L196.6210856829543 104.76948166074062 284.54530918176954-7.768392473641967 172.007435047387-95.69261597245723z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1033.7692380193657 399.2486757925252L993.5438348868386 443.9235119255594 1080.6687906526533 481.92419855783317z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M526.8170566894504 154.58640393103158L418.9733138357225 50.44291202400598 314.82982192869684 158.28665487773392 422.6735647824248 262.43014678475953z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M631.5715448948545 273.53833360883186L560.4641652608157 243.3550417075267 550.7429172258774 365.10775710923747z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M609.3119581331407 269.8079554724356L624.4831156448313 414.15187723107596 768.8270374034716 398.98071971938543 753.6558798917811 254.63679796074507z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M602.6375499392788 633.875084160992L660.9443594660858 508.83572761792175 535.9050029230154 450.52891809111475 477.59819339620856 575.568274634185z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M475.489%2c750.412C522.569%2c746.826%2c564.774%2c722.961%2c588.728%2c682.273C613.063%2c640.938%2c616.817%2c590.638%2c594.572%2c548.142C570.598%2c502.342%2c527.146%2c467.929%2c475.489%2c465.946C420.471%2c463.834%2c368.629%2c491.661%2c339.442%2c538.348C308.343%2c588.094%2c296.146%2c652.77%2c327.824%2c702.149C357.793%2c748.864%2c420.147%2c754.628%2c475.489%2c750.412' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M77.37992297914691 500.6694426856615L209.68934759412213 455.1116542922582 164.13155920071887 322.802229677283 31.82213458574362 368.3600180706863z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M192.789216562701 110.24374185768215L214.71053588559937 205.19540763729538 309.6622016652126 183.27408831439698 287.7408823423142 88.32242253478378z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1018.4237866622774 23.89028999135218L1003.6409174596854 163.2620679274701 1116.4177394119702 115.39114715657054z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M784.2487401861275-51.44232528987591L747.3503238958369 27.6865838004948 826.4792329862076 64.58500009078536 863.3776492764982-14.543908999585362z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M894.646%2c141.516C932.343%2c141.473%2c970.701%2c129.73%2c990.655%2c97.747C1011.701%2c64.015%2c1011.846%2c20.554%2c991.386%2c-13.537C971.475%2c-46.714%2c933.305%2c-60.607%2c894.646%2c-62.226C852.241%2c-64.002%2c804.651%2c-58.642%2c782.769%2c-22.276C760.438%2c14.837%2c773.826%2c62.201%2c798.256%2c97.967C819.569%2c129.171%2c856.858%2c141.559%2c894.646%2c141.516' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1078'%3e%3crect width='1080' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    bottom: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;




}
.background-img-top{
    position: fixed;
    left: 0;
    position: fixed;
    top: 0;
    width: 400px;
    overflow: hidden;
}
.background-img-bottom{
    background-position: 100% 100%;
    bottom: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    width: 100vw;
    vertical-align: middle;
}
.v-shortener{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100%;
 /* z-index: 1; */
}
.v-shortener-card{
    width: 600px;
    background-color: #f8f9fa !important;
    word-wrap:break-word !important;
    border-radius: 10px !important;
    padding: 15px;
    overflow: hidden;
    position: relative !important;
    
}
.v-copy-icon{
    font-size: 20px !important ;
    cursor: pointer;
}
.v-copy-icon-g{
    font-size: 20px !important ;
    font-weight: bolder !important;
    cursor: pointer;
    color: green !important;
}
